body {
    --background: white;
    --textColor: #616161;
    --cardColor: #fafafa;
    --darkMode: #333;
    --transition-delay: 1s;


    background-color: var(--background);
    transition: background-color 0.2s ease-in-out;
    padding: 0;
    margin: 0;
    /* font-family: "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji"; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100dvw;
    height: 100dvh;
}

body.dark {
    --background: #3C5377;
    --textColor: white;
    --cardColor: #ffc728;
    --darkMode: yellow;
}

.main-container{
    box-sizing: border-box;
    padding: 20px;
    width: 95%;
    height: 95%;
    background-color: green;
    box-shadow: 5px 5px 10px rgb(3, 3, 3, 0.4);
    transition: background-color 1s ease;
}

.text{
    --opacity: 0;
    font-size: 120px;
    opacity: var(--opacity);
    transition: opacity 1s ease;
}

.text.opacity{
    --opacity: 1;
}